@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    background-color: black;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    align-items: center;
    color: white;
    

}
h1 {
    font-size: 80px;
    
}
p {
    font-size: 35px;
}
