body {
    background-color: #111827;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.container {
    max-width: 800px;
}

.profile-pic {
    border-width: 4px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9); /* Sync with body background color */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: 9999;
}

.notification.show {
    opacity: 1;
}


.bg-gray-900 {
    background-color: #111827; /* Sync with body background color */
}

.text-gray-900 {
    color: #fff; /* Sync with body text color */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Apply animation to the switch icon */
#icon {
    animation: fadeIn 0.2s ease-out forwards; /* Initial fade-in animation */
}

/* Adjust opacity after the fade-out animation to maintain visibility */
#color-switcher:active #icon {
    opacity: 0.5;
}

/* Apply fade-out animation when toggling color */
#color-switcher:active #icon {
    animation: fadeOut 0.2s ease-out forwards; /* Fade-out animation on toggle */
}

.spinning-image {
    position: fixed;
    transform-origin: center;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}